.button-maison-couleur {
  display: none;
  @include bouton(
    $button-bg-color-generate,
    $button-hover-bg-color-generate,
    $button-shadow-generate,
    $button-shadow-generate-hover // Utilisez la variable shadow rouge
  );
  margin: $button-color-margin;
  // display: none;
  @include mobile-large {
    margin: -3em 0em 0em 0em;
  }
  &__btn {
    @extend %button;
  }
}
